@page "/cast/edit/{Id:int}"
@inherits EditPageBaseInt<CastDto>

<Edit T="CastDto" DeleteMessage="Are you sure you want to delete this cast member?" Logic="this">
    <ProgressSelector T="CastDto" Value="Item.Progress" OnChanged="v => Item.Progress = v" />
    <div class="mb-3">
        <label class="form-label fw-bold">Role</label>
        <input class="form-control" @bind="Item.Role" />
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold">Actor</label>
        <input class="form-control" @bind="Item.Actor" />
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold">Notes</label>
        <textarea class="form-control" rows="5" maxlength="4000" @bind="Item.Notes"></textarea>
    </div>
</Edit>
