@page "/film/edit/{Id:guid}"
@inherits EditPageBaseGuid<FilmDto>

<Edit TDto="FilmDto" DeleteMessage="Are you sure you want to delete this film?" Logic="this">
    <div class="mb-3">
        <label class="form-label fw-bold">Title</label>
        <input class="form-control" @bind="Item.Title" />
    </div>
</Edit>
