@page "/scenes"
@inherits ListPageBase<SceneDto>

<h3 class="mb-4 d-flex justify-content-between align-items-center">
    Scenes
    <a href="/shootingday/edit/0" class="btn btn-primary btn-sm" title="Add new scene">
        <i class="bi bi-plus-lg"></i> Add
    </a>
</h3>

@if (Items == null)
{
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else if (Items.Count == 0)
{
    <div class="alert alert-warning" role="alert">
        No shooting days found.
    </div>
}
else
{
    <ul class="list-group">
        @foreach (var scene in Items)
        {
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <div class="fw-bold">@scene.Number @scene.ShortDescription</div>
@*                         <small class="text-muted">Shooting Time: @scene.ShootingTime</small>
 *@                    </div>
                    <a class="btn btn-sm btn-outline-primary" href="/shootingday/edit/@scene.Id" title="Edit">
                        <i class="bi bi-pencil"></i>
                    </a>
                </div>
            </li>
        }
    </ul>
}

@code {
    protected override string ApiEndpoint => "/api/films/[FILMID]/scenes";
}
