@page "/shootingdays"
@inherits ListPageBase<ShootingDayDto>

<HeaderPlus Title="Shooting Days"
            ActionUrl="/shootingday/edit/0"
            ActionTooltip="Add new shootingday" />

<LoadingOrEmptyOrList Items="Items">
    <ul class="list-group">
        @foreach (var shootingDay in Items)
        {
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="fw-bold">@shootingDay.Number @shootingDay.ShortDescription</div>
                    <a class="btn btn-sm btn-outline-primary" href="/shootingday/edit/@shootingDay.Id" title="Edit">
                        <i class="bi bi-pencil"></i>
                    </a>
                </div>
            </li>
        }
    </ul>
</LoadingOrEmptyOrList>

@code {
    protected override string ApiEndpoint => "/api/films/[FILMID]/shootingdays";
}
