@page "/shots"
@inherits ListPageBase<ShotDto>

<HeaderPlus Title="Shots"
            ActionUrl="/shot/edit/0"
            ActionTooltip="Add new shot" />

<LoadingOrEmptyOrList Items="Items">
    <ul class="list-group">
        @foreach (var shot in Items)
        {
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="fw-bold">@shot.ShortDescription</div>
                    <a class="btn btn-sm btn-outline-primary" href="/shootingday/edit/@shot.Id" title="Edit">
                        <i class="bi bi-pencil"></i>
                    </a>
                </div>
            </li>
        }
    </ul>
</LoadingOrEmptyOrList>

@code {
    protected override string ApiEndpoint => "/api/films/[FILMID]/shots";
}
