@typeparam TItem

@if (Items == null)
{
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else if (!Items.Any())
{
    <div class="alert alert-warning" role="alert">
        No data found.
    </div>
}
else
{
    @ChildContent
}

@code {
    [Parameter, EditorRequired]
    public IEnumerable<TItem> Items { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = default!;
}
